@model IEnumerable<Lab3_WebApp.Models.Movie>
@{
    ViewData["Title"] = "Movies";
}

<h1>Movies</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New Movie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th>
                Download
            </th>
            <th>
                View Details
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cast)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Budget)
                </td>
                <td>
                    <div>
                        <a class="btn btn-primary" asp-action="Upload" asp-route-id="@item.Id" asp-controller="Movie">Upload</a>
                        <a class="btn btn-primary" asp-action="Download" asp-route-id="@item.Id" asp-controller="Movie">Download</a>
                    </div>
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    <div>
                        <a class="btn btn-warning" asp-action="Edit" asp-controller="Movie" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Movie" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
